
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------

@font-face {
       font-family: 'alwyn';
       src: url('../fonts/alwyn.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}


body {
  font-size: @font-size;
  font-family: 'alwyn';
  color: @text-color;
  background-color: @app-background-color;
}


atom-pane {
  border-right: 20px solid @base-background-color;
  &:last-child {
    border-right: none;
  }
}


.tab-bar{
      font-family: alwyn;
}

.tab-bar .tab{
  font-size: 15px;
  text-shadow: 1px 1px #191817,1px 1px #191817;
}
.tab-bar .tab.active {

    text-shadow: 2px 2px #211000,2px 2px #211000;
}

atom-text-editor{
  font-family: 'alwyn' !important;
  font-size: 15px;
}

atom-text-editor {
    background-color: #231812;
}
.tree-view .full-menu{
  font-family:  'alwyn';
}
.syntax--entity.syntax, .syntax--entity.syntax--name.syntax--tag , .syntax--entity.syntax--other.syntax--attribute-name, .syntax--entity.syntax--other.syntax--attribute-name, atom-text-editor{
    color: #f9a02e;
}
